
*{
    box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    
}
.header{
    height: 15%;
    background-color:rgb(192, 170, 170);
    font-size: 5px;
}
.main{
    width: 100%;
    height: 70%;
    display: flex;
    margin-top:3px;
    margin-bottom:3px;
    /* flex-direction: column; */
}
.body{
    width:75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 5px;
    /* background-color: green; */
}
.body2{
    width: 25%;
    height: 100%;
    background-color: rgb(223, 135, 235);
    font-size: 5px;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.box-1{
    width: 100%;
    height: 100%;
    background-color:rgb(12, 211, 12);
    justify-content: center;
    align-self:center ;
}
.box-2{
    width: 50%;
    height: 100%;
    background-color:rgb(255, 234, 47)
}

.footer{
    height: 15%;
    background-color:rgb(192, 170, 170);
    font-size: 5px;
}


 @media (max-width:480px) and (min-width:280px) {
    .header{
        font-size: 20px;
    }

    .main{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    .body{
        width:100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
        background-color: green;
    }
    .body2{
        width: 100%;
        height: 40%;
        background-color: rgb(223, 135, 235);
        font-size: 20px;
        display: flex;
    }
    .box{
        display: flex;
        flex-direction: column
    }

    .box-3{
        width: 50%;
        height: 100%;
        background-color:rgb(178, 12, 211);
    }
    .box-2{
        width: 50%;
        height: 100%;
        background-color:rgb(255, 234, 47)
    }

    .footer{
        font-size: 20px;
    }

}

/* 
@media (max-width:280px) {
    .container{
        margin: 0px;
        padding: 0px;
    }

    .header{
        font-size: 20px;
        height: 10%;
    }
    .main{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .body{
        font-size: 20px;
        width: 100%;
        height: 63%
    }
    .body2{
        font-size: 20px;
        width: 100%;
        height:33%;
    }
    .footer{
        font-size: 16px;
        height: 10%;
    }

}
 */




/* layout media code */


/* @media (max-width:480px) and (min-width:280px) {
    .header{
        font-size: 20px;
    }

    .body{
        font-size: 20px;
        width: 50%;
    }

    .box-1{
        width: 100%;
        height: 50%;
        background-color:rgb(12, 211, 12);
    }
    .box-2{
        width: 100%;
        height: 50%;
        background-color:rgb(255, 234, 47)
    }

    .body2{
        font-size: 20px;
        width: 50%;
    }

    .footer{
        font-size: 20px;
    }

}


@media (max-width:280px) {
    .container{
        margin: 0px;
        padding: 0px;
    }

    .header{
        font-size: 20px;
        height: 10%;
    }
    .main{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .body{
        font-size: 20px;
        width: 100%;
        height: 63%
    }
    .body2{
        font-size: 20px;
        width: 100%;
        height:33%;
    }
    .footer{
        font-size: 16px;
        height: 10%;
    }

} */